/* classi comuni  */

@font-face {
  font-family: "Sailec-Light";
  src: url("//db.onlinewebfonts.com/t/2fe381b3d8cf4ee5f331668970d8a65a.eot");
  src: url("//db.onlinewebfonts.com/t/2fe381b3d8cf4ee5f331668970d8a65a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/2fe381b3d8cf4ee5f331668970d8a65a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/2fe381b3d8cf4ee5f331668970d8a65a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/2fe381b3d8cf4ee5f331668970d8a65a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/2fe381b3d8cf4ee5f331668970d8a65a.svg#Sailec-Light")
      format("svg");
}

.relative {
  position: relative;
}

h3 {
  font-weight: 600;
}

.opacity {
  opacity: 0.7;
}

h1 {
  font-weight: 600;
}

.h-250 {
  height: 250px;
}

.m-bot {
  margin-bottom: 50px;
}

.m-bot-10 {
  margin-bottom: 10px;
}

/* !navigation bar  */
#logo {
  height: 30px;
  margin-right: 100px;
  vertical-align: middle;
  line-height: 50px;
  position: relative;
  bottom: 6px;
}

nav {
  padding: 10px 0;
  background-color: white !important;
}

.navbar-right {
  margin-right: 0 !important;
}

nav ul li a {
  color: #2f436e !important;
  font-weight: 800 !important;
}

nav .icon-bar-blue {
  height: 3px !important;
  background-color: #0066ff !important;
}

.navbar-header button[class*="collapsed"] {
  border: none !important;
}

.nav .navbar-btn {
  color: blue;
  border: 1px solid blue;
}

/* !inizio jumbo  */

.jumbotron {
  background-image: url("../img/09202e9a-bg-home-hero-3.svg");
  background-size: cover;
  padding: 200px 0;
  margin-top: 15px;
  margin-bottom: 0;
}

.jumbotron-text {
  color: white;
}

.jumbotron-text h1 {
  font-size: 5rem;
  font-weight: 600;
}

.jumbotron-text p {
  font-size: 2.5rem;
  font-weight: 400;
}

.jumbotron-form {
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  background-color: white;
}

.bluish {
  color: #2f436e;
}
.jumbotron-form > h2 {
  color: #2f436e;
  font-weight: 600;
}
.jumbotron-form > h2:nth-child(2) {
  color: #0066ff;
  font-weight: 600;
}
.jumbotron-form div:last-child {
  margin-top: 10px;
}
.jumbotron-form div:last-child a {
  text-decoration: underline;
  color: #579aff;
}

#create-account-button {
  width: 100%;
  margin-bottom: 5px;
  background-color: #579aff;
  font-weight: 600;
}

#sign-up-button {
  width: 100%;
  font-weight: 600;
  vertical-align: middle;
}

#google-logo {
  position: absolute;
  left: 40px;
  display: inline-block;

  height: 20px;
  vertical-align: middle;
}

.jumbotron-form button {
  box-shadow: lightgrey 1px 1px !important;
}
.jumbotron-form button:last-child {
  color: grey;
  font-weight: 800;
}
.jumbotron-form input::placeholder {
  color: grey;
}

/* !logo-page */

#logo-page {
  background-color: #f3f5f9;
  padding: 50px 0;
  text-align: center;
}

#logo-page h3 {
  color: grey;
  margin-bottom: 30px;
}
#logo-page .row > div:last-child {
  margin-top: 50px;
}

#logo-page img-container {
  width: 100%;
}

#logo-page img {
  float: left;
  margin-right: calc(100% / 12 - 50px);
}

#logo-page li {
  list-style-type: none;
}

/* !deploy page  */

#deploy {
  padding-top: 50px;
}

#deploy p {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 20px;
  opacity: 0.8;
}

#deploy .margin {
  margin-bottom: 100px;
}

#deploy ul li {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 2rem;
  margin: 20px;
  opacity: 0.8;
}

#deploy ul li:hover {
  cursor: pointer;
  opacity: 1;
}

#deploy ul {
  border-left: 2px solid grey;
  padding: 0;
  margin-top: 0;
}

/* !design section e teams  */

#design,
#teams {
  background-color: #f3f5f9;
  padding: 50px 0;
  text-align: center;
}

#design p,
#teams p {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 20px;
  opacity: 0.8;
  margin-bottom: 100px;
}

#design img,
#teams img {
  width: 100%;
  /* margin-bottom: 20px; */
}

.arrow {
  position: absolute;
  top: 300px;
}

.arrow img {
  height: 50px;
}

.dots i:first-child {
  color: blue;
}

.dots {
  margin-top: 20px;
}

#design .screenshot #teams .screenshot {
  margin-bottom: 20px;
}

/* !inizio features  */

#features {
  padding: 50px 0;
}

#features .row div {
  margin-bottom: 70px;
}

/* !inizio service  */

#service {
  background-color: #0044c2;
  color: white;
  padding-top: 100px;
}
#service .row > div:nth-child(1) {
  margin-bottom: 30px;
}

#service .border div {
  border-bottom: 2px solid white;
}

#service .m-right {
  margin-right: 30px;
}
#service .m-bot {
  margin-bottom: 80px;
}

#service .border div:nth-child(1),
.border div:nth-child(2) {
  font-weight: 600;
}

#service a {
  color: #00d4d2;
}

/* !inizio cta */
#cta {
  background-color: #0044c2;
  color: white;
  padding: 50px 0;
}

#cta button {
  color: #0044c2;
  font-weight: 600;
  margin-top: 30px;
}

/* !inizio footer */

footer {
  color: white;
  background-color: #031c4e;
  padding: 50px 0;
  text-align: left;
}

footer .logo i {
  margin-right: 15px;
  margin-top: 10px;
}

footer ul {
  margin-bottom: 20px;
  text-align: left;
}

footer ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

footer ul li:first-child {
  font-weight: 800;
}

footer ul li:not(:first-child) {
  opacity: 0.7;
}

/* !media queries  */
@media screen and (max-width: 768px) {
  .jumbotron {
    padding: 100px 0;
  }

  html {
    font-size: 8px !important;
  }
  .h-250 {
    height: unset;
  }

  #logo-page img {
    float: left;
    margin-right: calc(100% / 4 - 60px);
  }

  #service .m-right {
    margin-right: 0;
  }
  footer ul {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }
  .arrow {
    position: absolute;
    top: 250px;
  }
  #service .m-right {
    margin-right: 0;
  }

  footer ul {
    padding: 0;
  }
}
